<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/feed.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/dragDrop.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="img/spartans.png">
</head>

<body style="color: black"  ng-app = "myApp" ng-controller="ExampleController">
<div class="container-fluid">


    <div class="row loginrow" id="headerInsert">
        <div class="container">

            <div class="col-md-3 col-xs-6 logo">
                <img src="img/sparta-scoop.png" style="width: 150px;">
            </div>

            <div class="col-xs-6 text-right phonenv">
                <div class="col-xs-4 col-xs-offset-5 prp">
                    <img src="img/guy2.svg">
                </div>
                <div class="col-xs-2  menu">
                    <img src="img/arrow.svg">
                </div>
            </div>

            <div class="col-md-9 text-right ">
                <!--<i class="fa fa-2x fa-bell" aria-hidden="true" "></i><a href="#" style="margin-right:20px;"><span class="badge">42</span></a>-->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-2x fa-user profile" aria-hidden="true"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="profile()">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">privacy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--phonenav-->
    <div class="row phnav text-center">
        <ul>
            <li><p>Sidharth Bhasin</p></li>
            <li><a href="#" class="active">TIMELINE</a></li>
            <li><a href="profile.html">EDIT PROFILE</a></li>
            <li><a href="feed.html">ON CAMPUS JOBS</a></li>
            <li><a href="marketplace.html">MARKET PLACE</a></li>
            <li><a href="#">LOG OUT</a></li>
        </ul>
    </div>
    <!--phonenavend-->


    <!--sidebar-->
    <div class="sideouter">
        <div class="col-md-2 mar40 sidebar">
            <div class="row text-center">
                <img class="rounder" id="profileImage"  src=""  alt="user profile">
            </div>

            <div class="row text-center mar20">
                <p class="dname">Sidharth Bhasin</p>
            </div>

            <div class="row text-center nvv">
                <ul>
                    <li><a href="#" class="active">TIMELINE</a></li>
                    <li><a href="profile.html">EDIT PROFILE</a></li>
                    <li><a href="jobs.html">ON CAMPUS JOBS</a></li>
                    <li><a href="accomodation.html">ACCOMODATION</a></li>
                    <li><a href="marketplace.html">MARKET PLACE</a></li>
                    <li><a ng-click="logout()">LOG OUT</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--sidebar end-->


    <!--newsfeed-->

    <div class="floater">
        <div class="col-md-7 marleft2 mar50 newclass" id="feedPost">

            <!--status-->
            <div class="row">

                <form action="/hms/accommodations" method="GET">
                    <div class="input-group pull-right bar">
                        <input type="text" class="form-control srch  no-border" id="searchValue"  onkeyup="myFunction()"  placeholder="Search for post" id="txtSearch"/>
                        <div class="input-group-btn pull-right"></div>
                    </div>
                </form>
            </div>

            <!--status end-->


            <!--feed-->





            <!--<h1>AngularJS - Pagination Example with logic like Google</h1>-->

            <!-- items being paged -->
            <!--<div ng-repeat="item in dummyItems">Item {{item}}</div>-->

            <div class="row mar30 feedSearch" id="postFeedDisplay" ng-repeat="countProfile in items">

                <div id="1" class="col-md-11 feed">
                    <div  id="2" class="row">
                        <div  id="3" class="col-md-12 pp">
                            <img  id="4" class="img-responsive " ng-src={{countProfile.postedbydetails.user_profilepicture_url}}>
                            <div  id="5" >
                                <p id="username" class="username" style="width: 30%;float: left">{{countProfile.postedbydetails.username}}</p>
                                <p id="dateposted" class="dateposted" style="width: 30%;float: right;">{{countProfile.dateposted}}</p></div>
                        </div>
                    </div>


                    <div  id="6" class="row feed1">
                        <div   id="7" class="col-sm-12">
                            <p id="type" class="type">{{countProfile.type}}</p>
                            <p id="description" class="description">{{countProfile.description}}</p>
                            <p id="location" class="location">{{countProfile.location}}</p>
                        </div>
                    </div>
                </div>



                <div class="col-md-12 mar20 nopad">
                    <a href="#" class="btn3" id="like">LIKE</a> <a href="#" class="btn3" id="share">SHARE</a>
                </div>

            </div>




            <div>
                <div  class="container">
                    <div class="text-center">

                        <!-- pager -->
                        <ul ng-if="pager.pages.length" class="pagination">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(1)">First</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                <a ng-click="setPage(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr />
                <!--<div class="credits text-center">-->
                <!--<p>-->
                <!--<a href="http://jasonwatmore.com/post/2016/01/31/AngularJS-Pagination-Example-with-Logic-like-Google.aspx" target="_top">AngularJS - Pagination Example with logic like Google</a>-->
                <!--</p>-->
                <!--<p>-->
                <!--<a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>-->
                <!--</p>-->
                <!--</div>-->
            </div>










            <div class="row mar30" id="postFeedDisplay">
                <div class="col-md-11 end">
                    NO MORE POSTS
                </div>
            </div>
        </div>


        <!--newsfeed-->

        <div class="col-md-2 mar40 formm"  style="height:600px; border: 1px solid #C0C0C0;padding: 10px;">
            <form >
                <label class="col-form-label textt">Events near you...</label>

            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/feed.js"></script>
<script src="js/config.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="angular/feedController.js"></script>
<script src="angular/search.js"></script>
<script>
    $(document).ready(function(){
        $('.menu').click(function(){
            $('.phnav').slideToggle();
        })

    })
</script>
<script>


    if(sessionStorage.getItem("imageSrc")!=null)
        document.getElementById("profileImage").src=sessionStorage.getItem("imageSrc");
    else
        document.getElementById("profileImage").src="img/guy1.svg";










</script>
</body>
</html>