<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="find jobs in sjsu">
    <meta name="keywords" content="jobs,accomodations,events,free food and stuff, ">
    <meta name="author" content="spark">
   <title>Forgot Password</title>
   <link href="css/bootstrap.min.css" rel="stylesheet">
   <link href="css/forgot.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
   <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="img/spartans.png">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-98696696-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body style="color: black" ng-controller="AppCtrl">
   <div class="container-fluid">


       <div class="row loginrow" id="headerInsert">
           <div class="container">

               <div class="col-md-3 col-xs-6 logo">
                   <img src="img/sparta-scoop.png" style="width: 200px;height: 50px;">
               </div>

               <div class="col-xs-6 text-right phonenv">
                   <div class="col-xs-4 col-xs-offset-5 prp">
                       <img src="img/guy2.svg">
                   </div>
                   <div class="col-xs-2  menu">
                       <img src="img/arrow.svg">
                   </div>
               </div>
           </div>
       </div>


       <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4 forgot">
            <h3>Retrieve Your Password</h3>  
            <hr>         

            <form>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <label class="col-form-label">Enter your email to retrieve your passsword.</label>
                  </div>
                  <div class="row form-group">
                    
                  </div>
                  <div class="row">
                    <div class="col-sm-2"></div>

                    <input class="col-sm-7 no-border" type="text" id="tit" placeholder = "Enter email..." required>
                  </div>
                  <div class="row form-group">
                    
                  </div>
                  <div class="form-group row buttons">
                      <div class="col-sm-3"></div>
                      <button type="button" class="col-sm-2 btn btn-primary" ng-click="forgotpasswordDone()">Submit</button>
                      <label class="col-sm-1 col-form-label"></label>

                      <button type="reset" class=" col-sm-2 btn btn-danger">Reset</button>                    
                  </div>
                </form>

         </div>
         <div class="col-md-4"></div>

       </div>

   </div>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/feed.js"></script>
   <script src="js/config.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
   <script src="angular/indexController.js"></script>

   <script>
     $(document).ready(function(){
         $('.menu').click(function(){
             $('.phnav').slideToggle();
             })

         })
   </script>
 </body>
</html>